In [9]:
#for connecting SPARK_HOME
import findspark
findspark.init()

In [10]:
#connecting jdbc driver
findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [11]:
#importing python for spark
import pyspark
from pyspark import SparkContext, SQLContext

In [12]:
#initialising by spark context
sc = SparkContext('local')
sqlContext = SQLContext(sc)

In [14]:
#connecting mysql server with spark and creating rdd from mysql db
dataframe_mysql = sqlContext.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/sakila",
    driver = "com.mysql.jdbc.Driver",
    dbtable = "actor",
    user="root",
    password="*****").load()

In [24]:
#printing first 5 rows
print(dataframe_mysql.show(5))

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 5 rows

None

In [16]:
#initialising for delta lake environment
spark = pyspark.sql.SparkSession.builder.appName("MyApp") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:0.7.0") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .getOrCreate()

In [19]:
#a must to use delta package functions
from delta.tables import *

In [3]:
#write in delta format
dataframe_mysql.write.format("delta").saveAsTable("events")

In [40]:
#loading
dataframe_mysql=spark.read.format("delta").load("events")

In [4]:
#display
dataframe_mysql.show()